.wrapper{
    padding-left: 18px;
    padding-right: 18px;
    /* to hide negative margin-right of row--gutters class */
    overflow: hidden;
    max-width: 1236px;  /* 1200 + 36 for the 18px + 18px */
    margin-left: auto;
    margin-right: auto;

    &--medium {
        max-width: 976px;
    }

    .wrapper {
        padding-left: 0px;
        padding-right: 0px
    }

    &--b-margin {
        margin-bottom: 1rem;

        @atMixin atSmall {
            margin-bottom: 3.875rem;
        }
    }
}
